.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 100px;
  background-image: url("../img/products-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 660px;

  &__taste {
    margin: 0;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--dark-color);
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--dark-color);
  }

  &__image {
    padding: 20px;
    border-bottom: 1px solid var(--dark-color);
  }
}
