<header class="header">
  <div class="container">
    <div class="border-block header__block">
      <a class="header__link btn" href="#">Go back</a>
      <nav class="nav" title="Main nanigation">
        <ul class="list-reset nav__list">
          <li class="nav__item"><a href="#" class="nav__link">story</a></li>
          <li class="nav__item"><a href="#" class="nav__link">shop</a></li>
          <li class="nav__item">
            <a href="#" class="nav__link logo">
              <img src="img/svg/logo.svg" alt="logo" />
            </a>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">contact</a></li>
          <li class="nav__item"><a href="#" class="nav__link">wholesale</a></li>
        </ul>
      </nav>
      <button class="header__clone btn">Clone</button>
    </div>
  </div>
</header>
