<section class="products">
  <div class="container">
    <div class="border-block products__block">
      <div class="products__top flex">
        <h2 class="products__title">THROW SOME LAVA IN YOUR JAVA</h2>
      </div>
      <div class="products__content">
        <ul class="products__list list-reset">
          <li class="products__item">
            <article class="card">
              <div class="card__taste">tangy and tingly</div>
              <div class="card__title">LIGHT ROAST BLEND</div>
              <img class="card__image" src="img/products-1.svg" alt="" />
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
