<section class="products">
  <div class="container">
    <div class="border-block products__block">
      <div class="products__top flex">
        <h2 class="products__title">THROW SOME LAVA IN YOUR JAVA</h2>
      </div>
      <div class="products__content border-block">
        <div class="products__decorative"></div>
        <ul class="products__list list-reset flex">
          <li class="products__item">
            <article class="card">
              <div class="card__taste">tangy and tingly</div>
              <div class="card__title">LIGHT ROAST BLEND</div>
              <img class="card__image" src="img/products-1.svg" alt="" />
            </article>
          </li>
          <li class="products__item">
            <article class="card">
              <div class="card__taste">tangy and tingly</div>
              <div class="card__title">LIGHT ROAST BLEND</div>
              <img class="card__image" src="img/products-1.svg" alt="" />
            </article>
          </li>
          <li class="products__item">
            <article class="card">
              <div class="card__taste">tangy and tingly</div>
              <div class="card__title">LIGHT ROAST BLEND</div>
              <img class="card__image" src="img/products-1.svg" alt="" />
            </article>
          </li>
        </ul>
      </div>
      <div class="products__bottom ticker">
        <div class="products__phrase ticker">
          <div class="ticker__wrapper">
            <div class="ticker__item">
              put some fire in your belly
              <img
                src="img/pepper.svg"
                alt=""
                aria-hidden="true"
                class="ticker__icon"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                src="img/pepper.svg"
                alt=""
                aria-hidden="true"
                class="ticker__icon"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                src="img/pepper.svg"
                alt=""
                aria-hidden="true"
                class="ticker__icon"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                src="img/pepper.svg"
                alt=""
                aria-hidden="true"
                class="ticker__icon"
              />
            </div>
            <div class="ticker__item">
              put some fire in your belly
              <img
                src="img/pepper.svg"
                alt=""
                aria-hidden="true"
                class="ticker__icon"
              />
            </div>
          </div>
        </div>
        <img class="products__cover" src="img/ujjo-cover.svg" alt="" />
      </div>
    </div>
  </div>
</section>
