<div class="ticker-bottom">
  <div class="container">
    <div class="border-block ticker">
      <div class="hero__phrase ticker">
        <div class="ticker__wrapper">
          <div class="ticker__item">
            put some fire in your belly
            <img
              src="img/pepper.svg"
              alt=""
              aria-hidden="true"
              class="ticker__icon"
            />
          </div>
          <div class="ticker__item">
            put some fire in your belly
            <img
              src="img/pepper.svg"
              alt=""
              aria-hidden="true"
              class="ticker__icon"
            />
          </div>
          <div class="ticker__item">
            put some fire in your belly
            <img
              src="img/pepper.svg"
              alt=""
              aria-hidden="true"
              class="ticker__icon"
            />
          </div>
          <div class="ticker__item">
            put some fire in your belly
            <img
              src="img/pepper.svg"
              alt=""
              aria-hidden="true"
              class="ticker__icon"
            />
          </div>
          <div class="ticker__item">
            put some fire in your belly
            <img
              src="img/pepper.svg"
              alt=""
              aria-hidden="true"
              class="ticker__icon"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
